<p>user-list works!</p>
<p>{{tmpVal}}</p>

<div class="line">
  <mat-form-field appearance="outline" >
    <mat-label>Сортировка пользователей</mat-label>
    <mat-select  #list (selectionChange)="sort(list.value)" >
      <mat-option value="0">От А до Я</mat-option>
      <mat-option value="1">От Я до А</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Поиск</mat-label>
    <input matInput placeholder="Найти пользователя" #input (keyup.enter)="search(input.value)" >
    <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
  </mat-form-field>

</div>

<div class="line">
  <mat-form-field class="item" appearance="outline">
    <mat-label>UserName</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username" >
  </mat-form-field>

  <mat-form-field class="item"  appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name"  [(ngModel)]="name" >
  </mat-form-field>

  <mat-form-field class="item"  appearance="outline" >
    <mat-label>User Role</mat-label>
    <mat-select  [(ngModel)]="role" >
      <mat-option value="0">Admin</mat-option>
      <mat-option value="1">User</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addUser()" class="btn">Add</button>
</div>

<div *ngIf="usersList.length > 0; else empty">

  <mat-selection-list #users  (selectionChange)="selectedItem(users.selectedOptions.selected)" >
    <mat-list-option
      [value]="user"
      *ngFor="let user of usersList; let i = index;"
      [ngClass] = "{'grey':i%2}">
      <div>
        <!--      <mat-icon mat-list-icon class="item" >folder</mat-icon>-->
        <!--      <span>{{user.id}}</span>-->
        <span class="item" >{{user.name}}</span>
        <span class="item" >{{user.username}}</span>
        <!--        <span  class="item" >{{user.email}}</span>-->
        <span *ngIf="user.role === 'Admin'" class="item" >{{user.role}}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>


  <div class="line footer">
    <div>
      <p>
        Options selected: {{users.selectedOptions.selected.length}}
      </p>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)="deleteUsers()" class="btn">Delete</button>
    </div>
  </div>


</div>
<ng-template #empty>
  <div>Пользователей не найдено</div>
</ng-template>

<!--  <mat-selection-list #users  (selectionChange)="selectedItem(users.selectedOptions.selected)" >-->
<!--    <mat-list-option-->
<!--      [value]="user"-->
<!--      *ngFor="let user of usersList; let i = index;"-->
<!--      [ngClass] = "{'grey':i%2}">-->
<!--      <div>-->
<!--&lt;!&ndash;      <mat-icon mat-list-icon class="item" >folder</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      <span>{{user.id}}</span>&ndash;&gt;-->
<!--        <span class="item" >{{user.name}}</span>-->
<!--        <span class="item" >{{user.username}}</span>-->
<!--&lt;!&ndash;        <span  class="item" >{{user.email}}</span>&ndash;&gt;-->
<!--        <span *ngIf="user.role === 'Admin'" class="item" >{{user.role}}</span>-->
<!--      </div>-->
<!--    </mat-list-option>-->
<!--  </mat-selection-list>-->


<!--<div class="line footer">-->
<!--  <div>-->
<!--<p>-->
<!--      Options selected: {{users.selectedOptions.selected.length}}-->
<!--</p>-->
<!--  </div>-->
<!--  <div>-->
<!--    <button mat-raised-button color="warn" (click)="deleteUsers()" class="btn">Delete</button>-->
<!--  </div>-->
<!--</div>-->

